[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/vk-bootstrap"]
	path = dependencies/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
